// =============================================================================
// Url
// =============================================================================

$font-path: "../fonts";
$img-path: "../img";

// =============================================================================
// Colors
// =============================================================================

//$blue: #00d9ff;
$purple: #9500ff;
//$green: #ceff00;

$white: #fff;
$blue: #1e247e;
$second-blue: #69aef8;
$green: #79caa1;
$black: #000;

$primary: $blue;
$secondary: $second-blue;

// =============================================================================
// Typography
// =============================================================================

$font-family-base: 'IRANSans', serif;